### 上期所写入数据库

In [216]:
from bs4 import BeautifulSoup
import urllib.parse
import pandas as pd
import re
import pandas as pd

In [217]:
def askURL(url):
    head = {"User-Agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/89.0.4389.90 Safari/537.36 Edg/89.0.774.63"}
    req = urllib.request.Request(url = url,headers=head)
    html = ""
    try:
        response = urllib.request.urlopen(req)
        html = response.read().decode('utf8')
        return html
    except urllib.error.URLError as e:
        if hasattr(e,'code'):
            print(e.code)
        if hasattr(e,'reason'):
            print(e.reason)
            
    
url = 'http://www.shfe.com.cn/products/cu/'
html = askURL(url)
bs = BeautifulSoup(html,"html.parser")
shfe = {}
for item in bs.find_all(href=re.compile('/products'),class_='',target = ''):
    if '期权' not in item.text and 'BC' not in item.text:
        shfe['http://www.shfe.com.cn'+item.attrs['href']]=item.text
shfe

{'http://www.shfe.com.cn/products/cu/': '铜',
 'http://www.shfe.com.cn/products/al/': '铝',
 'http://www.shfe.com.cn/products/zn/': '锌',
 'http://www.shfe.com.cn/products/pb/': '铅',
 'http://www.shfe.com.cn/products/ni/': '镍',
 'http://www.shfe.com.cn/products/sn/': '锡',
 'http://www.shfe.com.cn/products/au/': '黄金',
 'http://www.shfe.com.cn/products/ag/': '白银',
 'http://www.shfe.com.cn/products/rb/': '螺纹钢',
 'http://www.shfe.com.cn/products/wr/': '线材',
 'http://www.shfe.com.cn/products/hc/': '热轧卷板',
 'http://www.shfe.com.cn/products/ss/': '不锈钢',
 'http://www.shfe.com.cn/products/sc/': '原油',
 'http://www.shfe.com.cn/products/lu/': '低硫燃料油',
 'http://www.shfe.com.cn/products/fu/': '燃料油',
 'http://www.shfe.com.cn/products/bu/': '石油沥青',
 'http://www.shfe.com.cn/products/ru/': '天然橡胶',
 'http://www.shfe.com.cn/products/nr/': '20号胶',
 'http://www.shfe.com.cn/products/sp/': '纸浆'}

In [218]:
import pandas as pd
import pymysql
import pandas as pd  
from sqlalchemy import create_engine

In [219]:
for key,value in shfe.items():
    data = pd.read_html(key,encoding='utf-8')
    columns = data[0].values[0]
    df = data[1].copy()
    df.columns = columns
    df['exchange'] = 'SHFE'
    df['name'] = value
    df['name']=df['name'].str.encode(encoding = 'raw_unicode_escape')
    code = key[-3:-1]
    yconnect = create_engine('mysql+pymysql://root:0000@localhost:3306/futures_c?charset=utf8mb4')  
    pd.io.sql.to_sql(df,'shfe_'+code, yconnect, schema='futures_c',index = False, index_label=None,if_exists='replace')
    print(value,code,'已经写入...')

铜 cu 已经写入...
铝 al 已经写入...
锌 zn 已经写入...
铅 pb 已经写入...
镍 ni 已经写入...
锡 sn 已经写入...
黄金 au 已经写入...
白银 ag 已经写入...
螺纹钢 rb 已经写入...
线材 wr 已经写入...
热轧卷板 hc 已经写入...
不锈钢 ss 已经写入...
原油 sc 已经写入...
低硫燃料油 lu 已经写入...
燃料油 fu 已经写入...
石油沥青 bu 已经写入...
天然橡胶 ru 已经写入...
20号胶 nr 已经写入...
纸浆 sp 已经写入...

### 上期所读取

In [222]:
import pymysql
import pandas as pd
 
conn = pymysql.connect(host = "localhost",port=3306,user='root',passwd='0000',db='futures_c',charset="utf8")
sql_query = 'SELECT * FROM shfe_cu'
df1 = pd.read_sql(sql_query, con=conn)
 
conn.close()  #使用完后记得关掉
df1.name = df1.name.apply(lambda x:eval(repr(x).replace('\\\\', '\\')))
df1

      合约代码       上市日       到期日     开始交割日     最后交割日  挂牌基准价 exchange name
0   cu2106  20200616  20210615  20210616  20210618  46520     SHFE    铜
1   cu2107  20200716  20210715  20210716  20210720  51950     SHFE    铜
2   cu2108  20200818  20210816  20210817  20210819  50960     SHFE    铜
3   cu2109  20200916  20210915  20210916  20210922  52470     SHFE    铜
4   cu2110  20201016  20211015  20211018  20211020  51690     SHFE    铜
5   cu2111  20201117  20211115  20211116  20211118  53630     SHFE    铜
6   cu2112  20201216  20211215  20211216  20211220  57910     SHFE    铜
7   cu2201  20210118  20220117  20220118  20220120  59810     SHFE    铜
8   cu2202  20210208  20220215  20220216  20220218  58150     SHFE    铜
9   cu2203  20210316  20220315  20220316  20220318  67860     SHFE    铜
10  cu2204  20210416  20220415  20220418  20220420  67560     SHFE    铜
11  cu2205  20210518  20220516  20220517  20220519  75650     SHFE    铜

### 读取表中的所有表名

In [69]:

import pymysql.cursors 
 
 
dbname = 'futures_c'
connection = pymysql.connect(host='localhost',
                             user='root',
                             password='0000',
                             db=dbname,
                             charset='utf8',
                             cursorclass=pymysql.cursors.DictCursor)
results =[]
try:
    with connection.cursor() as cursor:
        sql = '''SHOW TABLES'''
        cursor.execute(sql)
        result = cursor.fetchall() 
        for i in range(len(result)):
            results.append(result[i]['Tables_in_'+dbname])
finally:
    connection.close()

print(results)

['shfe_ag', 'shfe_al', 'shfe_au', 'shfe_bu', 'shfe_cu', 'shfe_fu', 'shfe_hc', 'shfe_lu', 'shfe_ni', 'shfe_nr', 'shfe_pb', 'shfe_rb', 'shfe_ru', 'shfe_sc', 'shfe_sn', 'shfe_sp', 'shfe_ss', 'shfe_wr', 'shfe_zn']

### 大商所写入数据库

In [1]:
from datetime import datetime
import pymysql
import pandas as pd  
from sqlalchemy import create_engine 
import re

url = 'http://www.dce.com.cn/publicweb/businessguidelines/queryContractInfo.html'
data = pd.read_html(url,encoding='utf-8')
data = data[0][data[0]['最后交割日']!='-'].copy()
data['最后交割日'] = pd.to_datetime(data['最后交割日'],format='%Y/%m/%d')
today = datetime.today()
data = data[data['最后交割日']>today]
grouped = data.groupby('品种')
for name, group in grouped:
    code = group['合约代码'].values[0]
    code = ''.join(re.findall(r'[A-Za-z]', code))
    group['品种']=group['品种'].str.encode(encoding = 'raw_unicode_escape')
    yconnect = create_engine('mysql+pymysql://root:0000@localhost:3306/futures_c?charset=utf8mb4')  #
    pd.io.sql.to_sql(group,'dce_'+code, yconnect, schema='futures_c' , index = False, index_label=None,if_exists='replace')
    print(code,name,'已经写入数据库...')

eg 乙二醇 已经写入数据库...
p 棕榈油 已经写入数据库...
pg 液化石油气 已经写入数据库...
j 焦炭 已经写入数据库...
jm 焦煤 已经写入数据库...
c 玉米 已经写入数据库...
cs 玉米淀粉 已经写入数据库...
lh 生猪 已经写入数据库...
rr 粳米 已经写入数据库...
fb 纤维板 已经写入数据库...
pp 聚丙烯 已经写入数据库...
l 聚乙烯 已经写入数据库...
v 聚氯乙烯 已经写入数据库...
bb 胶合板 已经写入数据库...
eb 苯乙烯 已经写入数据库...
a 豆一 已经写入数据库...
b 豆二 已经写入数据库...
y 豆油 已经写入数据库...
m 豆粕 已经写入数据库...
i 铁矿石 已经写入数据库...
jd 鸡蛋 已经写入数据库...

### 郑商所写入数据

In [ ]:
url = 'http://www.czce.com.cn/'

In [224]:
import re
st = "hello,world!!%[545]你好234世界。。。"
result = ''.join(re.findall(r'[A-Za-z]', st)) 
print(result)

helloworld

In [205]:
group

     品种    合约代码  交易单位  最小变动价位     开始交易日     最后交易日      最后交割日
960  鸡蛋  jd2106    10     1.0  20200624  20210625 2021-06-30
961  鸡蛋  jd2107    10     1.0  20200729  20210727 2021-07-30
962  鸡蛋  jd2108    10     1.0  20200827  20210826 2021-08-31
963  鸡蛋  jd2109    10     1.0  20200928  20210927 2021-09-30
964  鸡蛋  jd2110    10     1.0  20201028  20211026 2021-10-29
965  鸡蛋  jd2111    10     1.0  20201126  20211125 2021-11-30
966  鸡蛋  jd2112    10     1.0  20201229  20211228 2021-12-31
967  鸡蛋  jd2201    10     1.0  20210127  20220126 2022-01-31
968  鸡蛋  jd2202    10     1.0  20210224  20220223 2022-02-28
969  鸡蛋  jd2203    10     1.0  20210329  20220328 2022-03-31
970  鸡蛋  jd2204    10     1.0  20210428  20220426 2022-04-29
971  鸡蛋  jd2205    10     1.0  20210527  20220526 2022-05-31

In [208]:

group

                    品种    合约代码  交易单位  最小变动价位     开始交易日     最后交易日      最后交割日
960  b'\\u9e21\\u86cb'  jd2106    10     1.0  20200624  20210625 2021-06-30
961  b'\\u9e21\\u86cb'  jd2107    10     1.0  20200729  20210727 2021-07-30
962  b'\\u9e21\\u86cb'  jd2108    10     1.0  20200827  20210826 2021-08-31
963  b'\\u9e21\\u86cb'  jd2109    10     1.0  20200928  20210927 2021-09-30
964  b'\\u9e21\\u86cb'  jd2110    10     1.0  20201028  20211026 2021-10-29
965  b'\\u9e21\\u86cb'  jd2111    10     1.0  20201126  20211125 2021-11-30
966  b'\\u9e21\\u86cb'  jd2112    10     1.0  20201229  20211228 2021-12-31
967  b'\\u9e21\\u86cb'  jd2201    10     1.0  20210127  20220126 2022-01-31
968  b'\\u9e21\\u86cb'  jd2202    10     1.0  20210224  20220223 2022-02-28
969  b'\\u9e21\\u86cb'  jd2203    10     1.0  20210329  20220328 2022-03-31
970  b'\\u9e21\\u86cb'  jd2204    10     1.0  20210428  20220426 2022-04-29
971  b'\\u9e21\\u86cb'  jd2205    10     1.0  20210527  20220526 2022-05-31

In [209]:
import pymysql
import pandas as pd  
from sqlalchemy import create_engine 

yconnect = create_engine('mysql+pymysql://root:0000@localhost:3306/futures_c?charset=utf8mb4')  #
pd.io.sql.to_sql(group,'dce_jd', yconnect, schema='futures_c' , index = False, index_label=None,if_exists='replace')

### 大商所读取

In [210]:
import pymysql
import pandas as pd
 
conn = pymysql.connect(host = "localhost",port=3306,user='root',passwd='0000',db='futures_c',charset="utf8")
sql_query = 'SELECT * FROM dce_jd'
df1 = pd.read_sql(sql_query, con=conn)
 
conn.close()  #使用完后记得关掉
df1

              品种    合约代码  交易单位  最小变动价位     开始交易日     最后交易日      最后交割日
0   \u9e21\u86cb  jd2106    10     1.0  20200624  20210625 2021-06-30
1   \u9e21\u86cb  jd2107    10     1.0  20200729  20210727 2021-07-30
2   \u9e21\u86cb  jd2108    10     1.0  20200827  20210826 2021-08-31
3   \u9e21\u86cb  jd2109    10     1.0  20200928  20210927 2021-09-30
4   \u9e21\u86cb  jd2110    10     1.0  20201028  20211026 2021-10-29
5   \u9e21\u86cb  jd2111    10     1.0  20201126  20211125 2021-11-30
6   \u9e21\u86cb  jd2112    10     1.0  20201229  20211228 2021-12-31
7   \u9e21\u86cb  jd2201    10     1.0  20210127  20220126 2022-01-31
8   \u9e21\u86cb  jd2202    10     1.0  20210224  20220223 2022-02-28
9   \u9e21\u86cb  jd2203    10     1.0  20210329  20220328 2022-03-31
10  \u9e21\u86cb  jd2204    10     1.0  20210428  20220426 2022-04-29
11  \u9e21\u86cb  jd2205    10     1.0  20210527  20220526 2022-05-31

In [211]:
df1['品种'] = df1['品种'].apply(lambda x:eval(repr(x).replace('\\\\', '\\')))
df1

    品种    合约代码  交易单位  最小变动价位     开始交易日     最后交易日      最后交割日
0   鸡蛋  jd2106    10     1.0  20200624  20210625 2021-06-30
1   鸡蛋  jd2107    10     1.0  20200729  20210727 2021-07-30
2   鸡蛋  jd2108    10     1.0  20200827  20210826 2021-08-31
3   鸡蛋  jd2109    10     1.0  20200928  20210927 2021-09-30
4   鸡蛋  jd2110    10     1.0  20201028  20211026 2021-10-29
5   鸡蛋  jd2111    10     1.0  20201126  20211125 2021-11-30
6   鸡蛋  jd2112    10     1.0  20201229  20211228 2021-12-31
7   鸡蛋  jd2201    10     1.0  20210127  20220126 2022-01-31
8   鸡蛋  jd2202    10     1.0  20210224  20220223 2022-02-28
9   鸡蛋  jd2203    10     1.0  20210329  20220328 2022-03-31
10  鸡蛋  jd2204    10     1.0  20210428  20220426 2022-04-29
11  鸡蛋  jd2205    10     1.0  20210527  20220526 2022-05-31

In [186]:
import pymysql

def generate_mysql():
    conn = pymysql.connect(
        host='localhost',   # 本地服务器
        user='root',
        password='0000',  # 你的数据库密码
        port=3306,          # 默认端口
        charset = 'utf8',
        db = 'futures_c')
    cursor = conn.cursor()

    sql = 'CREATE TABLE IF NOT EXISTS dce_jd(name VARCHAR(30),code VARCHAR(30),danwei INT(30) NOT NULL,unit float(5,2) NOT NULL,s_time VARCHAR(30),e_time VARCHAR(30),j_time datetime)'

   # listed_company是要在wade数据库中建立的表，用于存放数据

    cursor.execute(sql)
    conn.close()

generate_mysql()

In [187]:
import pymysql
import pandas as pd  
from sqlalchemy import create_engine 

yconnect = create_engine('mysql+pymysql://root:0000@localhost:3306/futures_c?charset=utf8mb4')  #
pd.io.sql.to_sql(group,'dce_jd', yconnect, schema='futures_c' , index = False, index_label=None,if_exists='append')

DataError: (pymysql.err.DataError) (1366, "Incorrect string value: '\\xE9\\xB8\\xA1\\xE8\\x9B\\x8B' for column '品种' at row 1")
[SQL: INSERT INTO futures_c.dce_jd (`品种`, `合约代码`, `交易单位`, `最小变动价位`, `开始交易日`, `最后交易日`, `最后交割日`) VALUES (%(品种)s, %(合约代码)s, %(交易单位)s, %(最小变动价位)s, %(开始交易日)s, %(最后交易日)s, %(最后交割日)s)]
[parameters: ({'品种': '鸡蛋', '合约代码': 'jd2106', '交易单位': 10, '最小变动价位': 1.0, '开始交易日': 20200624, '最后交易日': 20210625, '最后交割日': datetime.datetime(2021, 6, 30, 0, 0)}, {'品种': '鸡蛋', '合约代码': 'jd2107', '交易单位': 10, '最小变动价位': 1.0, '开始交易日': 20200729, '最后交易日': 20210727, '最后交割日': datetime.datetime(2021, 7, 30, 0, 0)}, {'品种': '鸡蛋', '合约代码': 'jd2108', '交易单位': 10, '最小变动价位': 1.0, '开始交易日': 20200827, '最后交易日': 20210826, '最后交割日': datetime.datetime(2021, 8, 31, 0, 0)}, {'品种': '鸡蛋', '合约代码': 'jd2109', '交易单位': 10, '最小变动价位': 1.0, '开始交易日': 20200928, '最后交易日': 20210927, '最后交割日': datetime.datetime(2021, 9, 30, 0, 0)}, {'品种': '鸡蛋', '合约代码': 'jd2110', '交易单位': 10, '最小变动价位': 1.0, '开始交易日': 20201028, '最后交易日': 20211026, '最后交割日': datetime.datetime(2021, 10, 29, 0, 0)}, {'品种': '鸡蛋', '合约代码': 'jd2111', '交易单位': 10, '最小变动价位': 1.0, '开始交易日': 20201126, '最后交易日': 20211125, '最后交割日': datetime.datetime(2021, 11, 30, 0, 0)}, {'品种': '鸡蛋', '合约代码': 'jd2112', '交易单位': 10, '最小变动价位': 1.0, '开始交易日': 20201229, '最后交易日': 20211228, '最后交割日': datetime.datetime(2021, 12, 31, 0, 0)}, {'品种': '鸡蛋', '合约代码': 'jd2201', '交易单位': 10, '最小变动价位': 1.0, '开始交易日': 20210127, '最后交易日': 20220126, '最后交割日': datetime.datetime(2022, 1, 31, 0, 0)}  ... displaying 10 of 12 total bound parameter sets ...  {'品种': '鸡蛋', '合约代码': 'jd2204', '交易单位': 10, '最小变动价位': 1.0, '开始交易日': 20210428, '最后交易日': 20220426, '最后交割日': datetime.datetime(2022, 4, 29, 0, 0)}, {'品种': '鸡蛋', '合约代码': 'jd2205', '交易单位': 10, '最小变动价位': 1.0, '开始交易日': 20210527, '最后交易日': 20220526, '最后交割日': datetime.datetime(2022, 5, 31, 0, 0)})]
(Background on this error at: http://sqlalche.me/e/14/9h9h)