In [3]:
import time
import akshare as ak

In [2]:
data = ak.futures_zh_spot(
        subscribe_list="JD2105",
        market="CF",   # market="CF"; market="CF": 商品期货, market="FF": 金融期货
        adjust=False)  #adjust=False; adjust=True: 返回合约、交易所和最小变动单位的实时数据, 返回数据会变慢
data

,symbol,time,open,high,low,current_price,bid_price,ask_price,buy_vol,sell_vol,hold,volume,avg_price,last_close,last_settle_price
0,鸡蛋2105,094911,4311.00,4339.00,4282.00,4303.00,4303.00,4304.00,57,21,156701,80147,4310.00,4294.00,4305.00