In [1]:
import requests
from bs4 import BeautifulSoup
import pandas as pd
import  os
import time
import random

In [2]:
import easyquotation
quotation = easyquotation.use('sina')
quotation.real('000333')

{'000333': {'name': '美的集团',
  'open': 85.0,
  'close': 86.71,
  'now': 85.76,
  'high': 86.2,
  'low': 84.39,
  'buy': 85.76,
  'sell': 85.77,
  'turnover': 8025151,
  'volume': 686104854.74,
  'bid1_volume': 3800,
  'bid1': 85.76,
  'bid2_volume': 700,
  'bid2': 85.75,
  'bid3_volume': 900,
  'bid3': 85.74,
  'bid4_volume': 600,
  'bid4': 85.73,
  'bid5_volume': 11000,
  'bid5': 85.72,
  'ask1_volume': 5000,
  'ask1': 85.77,
  'ask2_volume': 1300,
  'ask2': 85.84,
  'ask3_volume': 3300,
  'ask3': 85.85,
  'ask4_volume': 4600,
  'ask4': 85.86,
  'ask5_volume': 900,
  'ask5': 85.88,
  'date': '2021-03-19',
  'time': '10:12:48'}}

In [7]:
import urllib
code = 'sz000333'
num = 400
url = 'http://vip.stock.finance.sina.com.cn/quotes_service/api/json_v2.php/MoneyFlow.ssl_qsfx_lscjfb?page=1&num=%s&sort=opendate&asc=0&daima=%s' %(str(num),code)
data = urllib.request.urlopen(url).read().decode("gbk","ignore")

In [1]:
import tushare as ts
ts.get_hist_data('000333', ktype='5')

本接口即将停止更新，请尽快使用Pro版接口：https://waditu.com/document/2

,open,high,close,low,volume,price_change,p_change,ma5,ma10,ma20,v_ma5,v_ma10,v_ma20,turnover
date,,,,,,,,,,,,,,
2021-03-19 15:00:00,85.10,85.38,85.38,85.10,3526.96,0.28,0.33,85.130,85.045,85.2400,5072.63,5714.29,6352.83,0.01
2021-03-19 14:55:00,85.10,85.44,85.09,85.09,6634.00,-0.01,-0.01,85.084,85.020,85.2660,5188.18,6061.04,6755.78,0.01
2021-03-19 14:50:00,85.12,85.12,85.11,84.90,5095.90,-0.01,-0.01,85.116,85.063,85.2760,5014.38,6191.26,6794.84,0.01
2021-03-19 14:45:00,84.95,85.15,85.11,84.85,5671.02,0.16,0.19,85.048,85.079,85.2830,5095.20,6010.97,6927.84,0.01
2021-03-19 14:40:00,85.14,85.15,84.96,84.94,4435.26,-0.18,-0.21,84.978,85.100,85.3045,5180.20,6208.67,7102.48,0.01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2021-03-10 14:15:00,83.73,83.76,83.67,83.65,4045.00,-0.06,-0.07,83.700,83.696,83.6630,4986.42,5431.34,6489.32,0.01
2021-03-10 14:10:00,83.75,83.94,83.72,83.72,3856.00,-0.03,-0.04,83.700,83.754,83.6770,5413.87,6377.44,6671.12,0.01
2021-03-10 14:05:00,83.76,84.05,83.76,83.73,7107.00,0.00,0.00,83.626,83.775,83.6965,5595.07,7021.14,7179.63,0.01
2021-03-10 14:00:00,83.67,83.80,83.73,83.55,4190.12,0.06,0.07,83.634,83.754,83.7350,4977.87,7266.08,7623.00,0.01
2021-03-10 13:55:00,83.69,84.00,83.62,83.62,5734.00,-0.07,-0.08,83.638,83.666,83.7540,5120.65,7604.89,8257.57,0.01

In [3]:

df = ts.get_tick_data('000333',date='2018-12-12',src='tt')
df

                       day  open  high   low  close  volume
0      2020-11-13 14:22:00  3.36  3.36  3.35   3.36   37900
1      2020-11-13 14:23:00  3.36  3.36  3.35   3.36   28500
2      2020-11-13 14:24:00  3.36  3.36  3.35   3.35    4900
3      2020-11-13 14:25:00  3.35  3.36  3.35   3.36   29700
4      2020-11-13 14:26:00  3.36  3.36  3.35   3.36   15100
...                    ...   ...   ...   ...    ...     ...
19995  2021-03-19 14:54:00  2.22  2.23  2.22   2.23   11400
19996  2021-03-19 14:55:00  2.23  2.23  2.22   2.22   53300
19997  2021-03-19 14:56:00  2.22  2.23  2.22   2.23   94800
19998  2021-03-19 14:57:00  2.22  2.23  2.22   2.22   74100
19999  2021-03-19 15:00:00  2.23  2.23  2.23   2.23  122000

[20000 rows x 6 columns]